<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/styles.css">
  <title>Message Board</title>
  
</head>
<body>
  <div class="header home">
    <%- include('navbar', {links: links}) %>
    <h1 class="title">Message Board</h1>
    <div class="empty"></div>
  </div>
  <ul class="messageBody">
    <p><% console.log('test', messages) %></p>
    <% for(let i = 0; i < messages.length; i++) { %>
        <li class="message">
            <h3 class="userName"><%= messages[i].username%></h3>
            <p class="messageText"><%= messages[i].message%></p>
            <p class="dateText"><%= messages[i].date%></p>
          
        </li>
    <% } %>
    </ul>
</body>
</html>