<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <title>Page Not Found</title>
</head>
<body>
    <div class="errorBody">
        <h1 class="error-title">Page Not Found</h1>
        <h2 class="error-text">Sorry but the page you are looking for has not been found</h2>
    </div>
    
</body>
</html>